:root {
    --c-text-color: #fff;
    --c-accident-text-color: #545050;
    --c-background-color: #1b1919;
    --f-main-font: 'Fira Sans Condensed', Arial, sans-serif;
    --f-accident-font: Oswald, Arial, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

.page {
    inline-size: 1200px;
    block-size: 100%;
    display: grid;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-family: var(--f-main-font);
    font-size: 18px;
    background: var(--c-background-color);
    color: var(--c-text-color);
}

.content {
    min-inline-size: 1140px;
    display: flex;
    gap: 32px;
    align-items: end;
}

.content__details {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.result__video {
    inline-size: 100%;
    block-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: 50% 50%;;
}

.result__video-container {
    inline-size: 711px;
    block-size: 386px;
    margin-block-end: 16px;
    position: relative;
}

.search-form {
    display: flex;
    gap: 40px;
    align-items: start;
    font-size: 18px;
    /*background: deepskyblue;*/
}

.title {
    font-family: var(--f-accident-font);
    font-size: 75px;
    font-weight: 700;
    line-height: 0.94;
    text-transform: uppercase;
    color: var(--c-text-color);
}

.content__accent {
    color: var(--c-accident-text-color);
}


.content__video-card {
    block-size: 103px;
    display: flex;
    justify-content: space-between;
}

.content__video-card-thumbnail {
    inline-size: 194px;
    object-fit: cover;
    object-position: 50% 50%;
}

.content__video-card-title {
    font-family: var(--f-accident-font);
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    text-transform: uppercase;
    color: var(--c-text-color);
    margin-block-end: 6px;
}

.content__video-card-description-container {
    flex-grow: 1;
}

.content__video-card-description {
    font-family: var(--f-main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 0.9;
    color: var(--c-text-color);
}

.content__list {
    position: relative;
    inline-size: 399px;
    block-size: 298px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.content__card-link {
    text-decoration: none;
    display: block;
    margin: 3px;
}

.content__card-link:active {
    background: var(--c-accident-text-color)
}

.content__card-link:hover {
    text-decoration: underline;
    text-decoration-color: var(--c-text-color);
    cursor: pointer;
}

.content__card-link:focus {
    outline: none;
}

.content__card-link:focus-visible {
    outline: 1px solid var(--c-text-color);
}

.content__card-link_current {
    background: var(--c-accident-text-color)
}

.button {
    align-self: end;
    block-size: 34px;
    background: transparent;
    border: 1px solid var(--c-text-color);;
    font-family: var(--f-main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: normal;
    text-align: center;
    color: var(--c-text-color);
    cursor: pointer;
}

.button:hover {
    text-decoration: underline;
    text-decoration-color: var(--c-text-color);
    cursor: pointer;
}

.button:active {
    background: var(--c-accident-text-color);
}

.button:focus {
    border: 3px double var(--c-text-color);
}

.button:focus-visible {
    border: 3px double var(--c-text-color);
}

.more-button {
    inline-size: 100%;
}

.search-form__fieldset {
    border: none;
    /*background: coral;*/
}

.search-form__fieldset-title {
    font-family: var(--f-main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
    color: var(--c-text-color);;
    margin-block-end: 5px;
}

.search-form__textfield {
    background: transparent;
    border: none;
    border-block-start: 1px solid var(--c-text-color);;
    border-block-end: 1px solid var(--c-text-color);;
    font-size: 18px;
    inline-size: 225px;
    font-family: var(--f-main-font);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--c-text-color);
    appearance: none;
    cursor: pointer;
}

.search-form__textfield:hover {
    cursor: text;
}

.search-form__textfield:active {
    border: 1px solid white;
}

.search-form__textfield::placeholder {
    color: var(--c-text-color);
    opacity: .7;
}

.search-form__textfield:focus {
    outline: 1px solid var(--c-text-color);
}

.search-form__submit-button {
    inline-size: 194px;
}

.search-form__checkbox-list {
    display: flex;
    /*background: burlywood;*/
    gap: 15px;
    align-content: start;
    font-family: var(--f-main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
    color: var(--c-text-color);;
}

.search-form__label {
    display: flex;
    gap: 5px;
    inline-size: fit-content;
    cursor: pointer;
}

.search-form__label:focus {
    outline: none;
}

.search-form__label:focus-visible {
    outline: 1px solid var(--c-text-color);
}

.search-form__checkbox:hover ~ .search-form__label-text {
    text-decoration: underline;
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

.search-form__pseudo-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 19px;
    block-size: 19px;
    border: 1px solid var(--c-text-color);;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
    content: '';
    min-inline-size: 15px;
    min-block-size: 15px;
    background-color: var(--c-text-color);;
}
